DOCKERFILE=Dockerfile

ACCEPT_EULA=Y
MSSQL_SA_PASSWORD=supersecret123!
DP_PORT=127.0.0.1:1433

APP_PORT=8080
ENV_TYPE=Development
CONNECTION_STRING="Server=db;Database=zooweb;User ID=sa;Password=${MSSQL_SA_PASSWORD};TrustServerCertificate=True;"

ADMINER_TAG=5.4.2
ADMINER_PORT=127.0.0.1:8088
